/* -------------------------------------------  FONTS E ICONS*/

@font-face {
    font-family: "Caviar_Dreams_Bold";
    src: url("fonts/caviar-dreams/Caviar_Dreams_Bold.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/caviar-dreams/CaviarDreams.ttf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sb26r1');
  src:  url('fonts/icomoon.eot?sb26r1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sb26r1') format('truetype'),
    url('fonts/icomoon.woff?sb26r1') format('woff'),
    url('fonts/icomoon.svg?sb26r1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-if_Streamline:before {content: "\e90e";}
.icon-if_dish:before {content: "\e900";}
.icon-if_fan:before {content: "\e904";}
.icon-if_Food:before {content: "\e905";}
.icon-if_Wash_machine:before {content: "\e90f";}




/* ------------------------------------------------------------- SCROLLBAR*/
::-webkit-scrollbar {
  width: .95em;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, .5);
}

::-webkit-scrollbar-thumb {
  background: rgba(70, 70, 70, .5);
  box-shadow:
    inset .05em .05em 0 rgba(0, 0, 0, .1),
    inset 0 -.05em 0 rgba(0, 0, 0, .07)
  ;
}




/* ------------------------------------------------------------- CORES*/
#resolution {background-color: #003343;}
#plano {background-color: rgba(15,41,47,0.9);}
#verificar, #sucesso, #aviso, #prosseguir {
  background-color: white;
  color: black;
}

.tarefa {background-color: #e7e9ea;}
.red-button{ background-color: #560f0b; color: #FFF !important; border-radius: 4px;}
.red-text {color: #AB0E0E;}
.green-text {color: #cddc39;}
.green-button, .selected, #online  {color:#FFF; background-color:#8f9a27/*#cddc39*/; border-radius: 4px;}
.disabled { color:#000; background-color:#bbb; opacity: 0.2;}
.text-selected {color: #0F292F;}
.general-button { background-color: #ffbd00 !important; color: black !important; border-radius: 4px;}
#curso button, #alimentos button {background-color: transparent;}#ffbd00
#alimentos button {color: white;}
.selected-task {background-color: rgba(225, 225, 225, 1) !important;}

.cor-text-clima {color: #87496c;}
.cor-text-clima-light {color: #e7dae1;}
.cor-text-despensa {color: #900C3F;}
.cor-text-despensa-light {color: #bc6d8b;}
.cor-text-eletrodomesticos {color: #C70039;}
.cor-text-eletrodomesticos-light {color: #e10040;}
.cor-text-curso {color: #FF6666;}
.cor-text-curso-light {color: #ff9393;}
.cor-text-limpeza {color: #FF5733;}
.cor-text-refeicoes {color: #FFC300;}
.cor-text-refeicoes-light {color: #ffe799;}

.selected-despensa {background-color: #900C3F !important; color: #FFF;}
.selected-receita {background-color: #cc9c00; color: black;}
#pesquisar_receita {background-color: #997500;}


#proximo, #anterior{
  border: 2px solid #ffbd00;
  background-color: transparent;
}

#programar_tarefa_eletrod {border: 5px solid white;}
#programar_tarefa {border: 5px solid white;}



/*------------------------------------------------- GERAL */

body, #resolution, h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: white;
}
body, #resolution {
  font-family: "CaviarDreams", sans-serif;
  font-size: 14pt;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Caviar_Dreams_Bold", sans-serif;
  text-transform: uppercase;
}
span {text-transform: none !important;}
a {text-decoration: none;}
button, .w3-button {border-radius: 3px !important;}

#resolution, #plano, #ecra_bloqueio {
  height: 720px;
  width: 1280px;
  max-height: 720px;
  max-width: 1280px;
  position: relative;
}

#plano {
  position: absolute !important;
  top: 0;
}

#main {
  height: 570px;
}

#menu {height: 90px;}

.menu_buttom {margin: 10px;}

ul {list-style-type: none;}
.inline-list {display: inline-flex;}
.upper {text-transform: uppercase !important;}
.clear-both {clear: both;}
.display-none {display: none;}
h1 {margin-left:16px !important;}
tbody {
  display: block;
  height: 400px;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {border-bottom: 5px solid white;}

#submit {margin-top: 40px;}


/* ------------------------------------------------------------- MENU(S)*/


.wrapper, .wrapper2 {
  margin: auto;
  width: 85%;
}
#limpezas .wrapper {width: 900px !important;}
 
.wrapper ul, .wrapper2 ul {margin: 0px;}

.wrapper span, .wrapper2 span {
  font-size: 66px;
  position: relative;
  top: 50px;
  left: 42px;
  color: #f2f2f2;
}

.home {
  width: 210px;
  height: 210px;
  position: relative;
  bottom: 10px;
  line-height: 250px;
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  color: black/*#003343*/ !important;
  font-weight: bold !important;
}


.wrapper li, .wrapper2 li {
  list-style: none;
  display: inline-block;
  margin: 30px 60px;
  cursor: pointer;
  transition: transform 100ms ease;
  transform: scale(1);
}
#limpezas .wrapper li {margin: 20px !important;}

.wrapper li:hover, .wrapper2 li:hover {
  transform: scale(1.2);
}

.wrapper li:nth-child(2), .wrapper li:nth-child(3), .wrapper li:nth-child(1), .wrapper2 li:nth-child(2), .wrapper2 li:nth-child(3), .wrapper2 li:nth-child(1) {
  width: 210px;
  height: 210px;
  border-radius: 4px;
}

/*.wrapper li:nth-child(1) { background-color: #ff6666/*#E75926;}
.wrapper li:nth-child(2) { background-color: #71BA51;}
.wrapper li:nth-child(3) { background-color: #FEC606;}*/

.wrapper li:nth-child(1), .cor-clima {background-color: #6a1c48; }
.wrapper li:nth-child(2), .cor-despensa {background-color: #900C3F; }
.wrapper li:nth-child(3), .cor-eletrodomesticos {background-color: #C70039; }
.wrapper2 li:nth-child(1), .cor-curso {background-color: #FF6666; }
.wrapper2 li:nth-child(2), .cor-limpeza {background-color: #FF5733; }
.wrapper2 li:nth-child(3), .cor-refeicoes {background-color: #FFC300; }

#limpezas .wrapper li, #eletrodomesticos .wrapper li {
  background-color: rgba(225,225,225,.8);
  border: 5px solid rgb(225,225,225);
}






/* -------------------------------------------------------- ECRÃ BLOQUEIO*/
#ecra_bloqueio {
  background-image: url(wallpapers/eiffel-tower.jpg);
  background-size: cover;
  opacity: 0.9;
}


#ecra_bloqueio div {
  font-size: 25pt;
  color: white;
  text-align: right;
}

#weekDay {text-transform: uppercase;}
#date_time div {display: inline-flex;}
#notificacoes div {
  text-align: center;
  color: black;
}
#notificacoes p {
  font-size: 13pt !important;
  text-align: left;
  margin-left: 60px;
}
#notificacoes li {
  list-style: none;
  display: block;
  width: 450px;
  height: 70px;
  border: 1px solid white;
  line-height: 20pt;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.7);
  margin: 5px;
}

#notificacoes {
  max-height: 400px;
  overflow: auto;
}



 #changeImage img {
  width: 90%;
  height: 90%;
  cursor: pointer;
}

#changeImage li {cursor: pointer;}
#changeImage img:hover {transform: scale(1.1);}

#changeImage {
  width: 90%;
  margin-left: 60px;;
}

/* ----------------------------------------------- BOTÕES */
#confirmar_voltar, #voltar {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#voltar {width: auto;}





/* ------------------------------------------- VERIFICAR, SUCESSO E INFORMACAO DAS TAREFAS */

#verificar, #sucesso, #aviso, #definir {
  border: 5px solid white;
  border-radius: 10px;
  opacity: 1 !important;
}
#verificar h3, #sucesso h3, #aviso h3, #definir h3 {color: black;}
#verificar, #aviso, #definir {
  position: fixed;
  width: 680px;
  padding-bottom: 20px;
  top: 150px;
  left: 300px;
}
#definir {top: 110px !important;}
#sucesso {
  width: 690px;
  padding: 11px;
}
#information {
  position: absolute;
  top: 80px;
  left: 10px;
  /*right: 10px;*/
  width: 30%;
  max-height: 620px;
  border: 2px solid black;
  border-radius: 5px;
}

dt {font-weight: bold !important; margin-top: 16px}
dd, #information p {font-size:12pt;}




/* ------------------------------------------- PAGINA DA DESPENSA */
#tabela_produtos {
  position: absolute;
  margin-top: 10px;
  margin-left: 55px;
  width: 90%;
}
#lista_compras, #escolha_compras{
  /*margin: 30px 100px;*/
  width: 40%;
}
#escolha_compras tbody, #lista_compras tbody {height: 350px !important;}

#quantidade {
  width: 50%;
  height: 50px;
}
#alimentos span {padding: 0 2px;}
#alimentos span:hover {
  background-color: #0F292F;
  cursor: pointer;
}

#prosseguir {
  position: absolute;
  bottom: 75px;
  right: 10px;
  border-radius: 10px;
  background-color: white !important;
  color: black !important;
  padding: 10px;
}
#visualizar_compras, #supermercados {
  width: 70% !important;
  margin: auto;
}
#visualizar_compras tbody {height: 150px !important;}
#visualizar_compras, #pagamento, #pagamento button {margin-top: 50px;}
#pagamento div {width: 95%;}
#supermercados {
  padding: 10px;
  margin-top: 40px;
}
#supermercados button {
  margin: 4px;
  background-color: #616161;
}




/* -------------------------------------------  PAGINA DA CLIMATIZACAO  */
input[type="range"]{
  -webkit-appearance:none;
  height:4px;
  background: transparent;
  background-position:center;
  background-repeat:no-repeat;
  padding: 0px;
  margin-top: 12px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius: 100%;
  background: #003343;
  position:relative;
  border: 3px solid #87496c;
  z-index:3;
  cursor: pointer;
}

#climatizando {
  width: 800px;
  margin: auto;
  padding: 50px 20px;
}
#climatizando i {font-size: 200pt;}
#climatizando button {margin-top: 20px;}

#climatizacao {
  position: absolute;
  width: 1080px;
  margin: 90px;
  border: 5px solid white;
  border-radius: 10px;
  top: 100px;
  padding-right: 50px !important;
  padding-bottom: 40px !important;
}

#local-temp {
  width: 30%;
  margin-right: 50px;
}
#icon-weather, #verification, #warning {
  font-size: 150px !important;
  margin-top: 50px;
}
#icon-weather {padding-left: 100px;}
#verification {
  margin-right: 40px;
  padding-left: 70px;
}
#checkLocal {
  max-height: 150px;
  overflow: auto;
}




/* -------------------------------------------  PAGINA EM CURSO E MODIFY*/
#curso {
  width: 85%;
  margin: auto;
  max-height: 400px !important;
  overflow: auto !important;
}
#modificar_tarefa {
  width: 50%;
  margin: auto;
  max-height: 500px;
  overflow: auto;
  padding: 0 20px;
}





/* -------------------------------------------  PAGINA DAS REFEICOES */
#first_stage, #second_stage, #third_stage, #fourth_stage {
  /*position: absolute;
  top: 150px;
  left: 110px;*/
  margin: auto;
  margin-top: 20px;
  width: 760px;
}

#first_stage form, #second_stage form, #third_stage form, #fourth_stage form {
  width: 80%;
  height: 280px;
  margin: 0 10%;
  }

#proximo, #anterior{margin-top: 20px;}


#cooking {
  width: 800px;
  margin: auto;
  padding: 50px 20px;
}
#cooking i {font-size: 200pt;}
#cooking button {margin-top: 20px;}
#form_refeicao {width: 60%;}

.programar_refeicao {
  border: 2px solid white;
  border-radius: 10px;
  width: 30%;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 20px;
}

#resultados table {width: 100%;}
#resultados tbody {height: inherit !important;}
.startCook {
  position: absolute;
  right: 175px;
  bottom: 100px;
}


.steps {
  list-style: none;
  padding: 0;
  margin-left: 260px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  display: inline-block;
  background-color: #f0f0f0;
  width: 760px;
}
.steps li {
  float: left;
  color: #ccc;
  line-height: 30px;
  padding: 0 10px 0 15px;
  font-size: 12pt;
  text-align: center;
  position: relative;
  width: 25%;
  cursor: pointer;
}
.steps li + li { padding: 0 7px 0 28px;}
.steps li:last-child { padding-right: 15px;}

.steps .active {
  background-color: #ffd54c;
  color: #000;
}
.steps .active-half {background-color: #ffeeb7 !important;}
.steps li:after,
.steps li:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 5;
}
.steps li:after {
  border-left-color: #f0f0f0;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;

}
.steps li:before {
  border-left-color: #ccc;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.steps .active:after {border-left-color: #ffd54c;}
.steps .active-half:after {border-left-color: #ffeeb7 !important;}
.steps .active:before {
  border-left-color: #ffffff;
}





/* -------------------------------------------  PAGINA DA LIMPEZA E ENTERTENIMENTO */
#programar_tarefa, #programar_tarefa_eletrod {
  position: absolute;
  top: 85px;
  left: 525px;
  width: 600px;
  margin: 100px;
  border-radius: 10px;
}
#programar_tarefa_eletrod {top: 75px !important;}
#limpezas, #entertenimento, #eletrodomesticos {
  position: absolute;
  top: 145px !important;
  left: 50px !important;
}

.tarefa {
  color: black;
  border-radius: 10px;
  margin: 20px;
  width: 150px;
  height: 150px;
  font-size: 10pt;
  line-height: 85px;
}

#funcionalidades {
  width: 100%;
  /*border: 3px solid white;*/
  position: absolute;
  bottom: 0;
}


